.box-center {
	align-items: center;
    justify-content: center;
}

.mdl-layout__content {
	padding: 24px;
	flex: none;
}

.demo-layout-transparent {
  background-color: #006be5;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}